:root {
  --deep-blue: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #ffffff;

  --barlow-condensed-font-family: "Barlow Condensed", sans-serif;
  --barlow-font-family: "Barlow", sans-serif;
  --bellfair-font-family: "Bellefair", serif;

  --home-desktop-bg-image: url("./assets/home/background-home-desktop.jpg");
  --home-tablet-bg-image: url("./assets/home/background-home-tablet.jpg");
  --home-mobile-bg-image: url("./assets/home/background-home-mobile.jpg");

  --dest-desktop-bg-image: url("./assets/destination/background-destination-desktop.jpg");
  --dest-tablet-bg-image: url("./assets/destination/background-destination-tablet.jpg");
  --dest-mobile-bg-image: url("./assets/destination/background-destination-mobile.jpg");

  --crew-desktop-bg-image: url("./assets/crew/background-crew-desktop.jpg");
  --crew-tablet-bg-image: url("./assets/crew/background-crew-tablet.jpg");
  --crew-mobile-bg-image: url("./assets/crew/background-crew-mobile.jpg");
}
